@import "syntax-variables";

// Colors based on current syntax theme

@theme-color: @syntax-background-color;

@text-color: @syntax-text-color;
@text-color-subtle: darken(@text-color, 24%);
@text-color-highlight: #fff;
@text-color-selected: @text-color-highlight;
