@import "syntax-variables";

// Colors based on current syntax theme

@ui-theme-color: @syntax-background-color;

@git-color-info: @syntax-color-renamed;
@git-color-success: @syntax-color-added;
@git-color-warning: @syntax-color-modified;
@git-color-error: @syntax-color-removed;

@foreground-shade-one: @syntax-text-color;
@foreground-shade-two: #fff;

@background-shade-one: @ui-theme-color;
@background-shade-two: lighten(@background-shade-one, 4%);
@background-shade-three: lighten(@background-shade-one, 8%);
@background-shade-four: lighten(@background-shade-one, 14%);
@background-shade-five: lighten(@background-shade-one, 20%);
@background-shade-six: @background-shade-one;

@syntax-color-selected: @syntax-selection-color;
