@import "ui-variables";
@import "ui-mixins";

atom-panel.bottom {
  background-color: @app-background-color;
  .text(normal);
}

.items-view .editor {
  background-color: #f00;
  border-bottom-left-radius: @component-border-radius;
  border-bottom-right-radius: @component-border-radius;
}

atom-panel.modal {
  background-color: @tab-bar-background-color;
  border-bottom-left-radius: @component-border-radius;
  border-bottom-right-radius: @component-border-radius;
  padding: @component-padding;
}

atom-panel.modal.overlay {
  .select-list {
    background-color: @tab-bar-background-color;
    border-radius: @component-border-radius;
    padding: 0;

    .list-group {
      background-color: @app-background-color;
      transition: color 200ms linear, background 200ms linear;
      border-radius: @component-border-radius;
      li {
        .text(normal);
        transition: color 200ms linear, background 200ms linear;
        padding-left: 4px;
        padding-right: 4px;
        &:hover {
          background-color: @background-color-highlight;
          .text(highlight);
        }
        &.selected {
          background-color: @background-color-selected;
          .text(highlight);
        }
      }
    }
  }
}

// git-plus fix
.git-palette.select-list {
  border: 8px solid @tab-bar-background-color;
  background-color: @tab-bar-background-color;
  border-bottom-left-radius: @component-border-radius;
  border-bottom-right-radius: @component-border-radius;
  padding: 0;

  .list-group {
    background-color: @app-background-color;
    transition: color 200ms linear, background 200ms linear;
    border-radius: @component-border-radius;
    li {
      .text(normal);
      transition: color 200ms linear, background 200ms linear;
      padding-left: 4px;
      padding-right: 4px;
      &:hover {
        background-color: @background-color-highlight;
        .text(highlight);
      }
      &.selected {
        background-color: @background-color-selected;
        .text(highlight);
      }
    }
  }
}
